<!DOCTYPE html>
<html>
<head>
    <title>My Homepage</title>
</head>
<body>
Enter Valid Names, <br> Names from stops.txt,<br>
python 3 script by the name tr1_buff.py present run the script if any issues with the webapp,<br>
Please note printing routes takes time<br>

        <form method="POST" action="">
                <div class="form-group">
                   <input type="text" name="source" placeholder="source"><br>
                   <input type="text" name="dest" placeholder="destination">
                </div>
                <input type="submit" value="submit">
            
        </form>

</body>
</html>